.searchList {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  display: none;
  max-height: 106px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 19px;
  width: 222px;
  z-index: 1;

  &::-webkit-scrollbar {
    outline: 1px solid #eeeeee;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border: 1px solid #ffffff;
    border-radius: 2px;
  }

  &.active {
    display: block;
  }

  @media screen and (max-width: 767px) {
    width: 185px;
  }
}

.searchList-info {
  background: #ffffff;
  display: flex;
  width: 100%;

  & p {
    margin: 6px 0px 6px 8px;
    color: #202020;
  }
}
