.primaryMain {
  display: flex;
  height: 100%;
}

.primaryMain-booking {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 50%;

  @media screen and (max-width: 1439px) {
    width: 57.29%;
  }
  @media screen and (max-width: 1022px) {
    width: 100%;
  }
}

.primaryMain-booking__header {
  // margin-top: 4.7%;
  margin-top: 32px;
  // margin-top: 62px;
}

.primaryMain-booking__header,
.primaryMain-booking__content,
.primaryMain-booking__footer {
  width: 81.4%;

  @media screen and (max-width: 1439px) {
    width: 88.37%;
  }
  @media screen and (max-width: 1022px) {
    width: 90.58%;
  }
}

.primaryMain-booking__header,
.primaryMain-booking__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.primaryMain-booking__footer {
  // margin-bottom: 4.7%;
  margin-bottom: 32px;

  @media screen and (max-width: 1022px) {
    margin-bottom: 38px;
  }
}

.primaryMain-booking__logo {
  color: #0ec261;
}

.primaryMain-booking__map {
  align-items: center;
  color: #999999;
  display: flex;
}

.primaryMain-booking__content {
  margin-bottom: 65px;

  @media screen and (max-width: 1439px) {
    margin-bottom: 69px;
  }
  @media screen and (max-width: 1023px) {
    margin-bottom: 57px;
  }
}

.primaryMain-booking__chapter {
  &.first {
    color: #121212;
  }

  &.second {
    color: #0ec261;
  }
}

.primaryMain-booking__description {
  color: #999999;
  // margin: 6.07% 0 10.71%;
  margin: 34px 0 60px;
}

.primaryMain-booking__button {
  border-radius: 8px;
  color: #eeeeee;
  font-family: 'Roboto-Normal';
  font-size: 18px;
  height: 48px;
  width: 250px;
}

.primaryMain-booking__life {
  color: #999999;
}

.primaryMain-booking__phone {
  color: #121212;
}
