.ticket {
    align-items: flex-end;
    border-left: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
    width: 319px;
  
    @media screen and (max-width: 1439px) {
      width: 279px;
    }
    @media screen and (max-width: 1023px) {
      border-left: 0;
      width: 100%;
    }
  }
  
  .ticket-form {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 100%;
  }
  
  .ticket-description {
    align-self: end;
    margin-bottom: 18px;
  }
  
  .ticket-address,
  .ticket-car {
    align-items: flex-end;
    align-self: end;
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
    width: 289px;
  
    p {
      color: #121212;
    }
  
    @media screen and (max-width: 1439px) {
      width: 257px;
    }
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  
  .ticket-address__content,
  .ticket-car__content {
    display: flex;
    flex-direction: column;
  
    p {
      color: #999999;
    }
  }
  
  .ticket-city {
    align-self: end;
  
    // p {
    //   color: #999999;
    // }
  }
  
  // .ticket-deliveryPoint {
  //   p {
  //     color: #999999;
  //   }
  // }
  
  .ticket__button {
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Roboto-Normal';
    font-size: 18px;
    height: 48px;
    width: 287px;
  
    @media screen and (max-width: 1439px) {
      width: 257px;
    }
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  