.selectModel {
  display: flex;
  flex-direction: column;
  width: 72%;

  @media screen and (max-width: 1439px) {
    width: 66%;
  }

  @media screen and (max-width: 1023px) {
    height: 100%;
    width: auto;
  }
}
