main {
  height: 100vh;
  // margin-left: 4.44%;
  margin-left: 64px;
  // left: 4.44%;
  position: relative;
  // width: 95.56%;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: 1023px) {
    margin-left: 85.77px;
  }
  @media screen and (max-width: 767px) {
    margin: 0;
  }
}
