.orderTicket {
  align-items: flex-end;
  border-left: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  width: 319px;

  @media screen and (max-width: 1439px) {
    // width: 279px;
    width: 284px;
  }
  @media screen and (max-width: 1023px) {
    border-left: 0;
    width: 100%;
  }
}

.orderTicket-form {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.orderTicket-description {
  align-self: end;
  margin-bottom: 18px;
}

.orderTicket-dottedLine {
  position: absolute;
  width: 100%;
  height: 5px;
  background: radial-gradient(circle, #999999 27%, transparent 25%) top left/5px 4px repeat-x;
  z-index: -1;
}

.orderTicket-address,
.orderTicket-car,
.orderTicket-color,
.orderTicket-date,
.orderTicket-tariff,
.orderTicket-fullTank,
.orderTicket-childSeat,
.orderTicket-rightHand {
  align-items: flex-end;
  align-self: end;
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
  position: relative;
  width: 289px;

  & > p {
    background: #ffffff;
    color: #121212;
    padding-right: 8px;
  }

  @media screen and (max-width: 1439px) {
    width: 273px;
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.orderTicket-address__content,
.orderTicket-car__content,
.orderTicket-color__content,
.orderTicket-date__content,
.orderTicket-tariff__content,
.orderTicket-fullTank__content,
.orderTicket-childSeat__content,
.orderTicket-rightHand__content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  p {
    color: #999999;
  }
}

.orderTicket-date__content {
  flex-direction: row;
}

.orderTicket-date__info {
  margin-left: 3.5px;
}

.orderTicket-city {
  align-self: end;
}

.orderTicket__button {
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Roboto-Normal';
  font-size: 18px;
  height: 48px;
  width: 287px;

  @media screen and (max-width: 1439px) {
    width: 257px;
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.orderTicket-price {
  align-self: end;
  margin: 24px 0px 32px;
  width: 289px;

  @media screen and (max-width: 1439px) {
    width: 257px;
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.orderTicket-price__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.orderTicket-price__info {
  font-weight: normal;
  margin-left: 5px;
}

.orderTicket-price__error {
  line-height: 16px;
  margin-top: 24px;
  text-align: center;
}
